<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>iPad Pro 三件套完整体验</string>
		<key>picture</key>
		<string>pic0</string>
		<key>date</key>
		<string>18 Jan 2016</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2016年的Apple，我们可以期待些什么（下）</string>
		<key>picture</key>
		<string>pic1</string>
		<key>date</key>
		<string>1 Jan 2016</string>
	</dict>
	<dict>
		<key>name</key>
		<string>What&apos;s New in iOS 9: New SDK Frameworks</string>
		<key>picture</key>
		<string>pic2</string>
		<key>date</key>
		<string>25 Dec 2015</string>
	</dict>
	<dict>
		<key>name</key>
		<string>气势磅礴，IPad Pro 测评</string>
		<key>picture</key>
		<string>pic3</string>
		<key>date</key>
		<string>3 Dec 2015</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2016年的Apple，我们可以期待些什么（上）</string>
		<key>picture</key>
		<string>pic4</string>
		<key>date</key>
		<string>30 Nov 2015</string>
	</dict>
</array>
</plist>
