<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>topImage</key>
		<string>pic0</string>
		<key>title</key>
		<string>iPad Pro 三件套完整体验</string>
		<key>body</key>
		<string>随着苹果生产线的跟进，小编的Apple Pencil 和 Smart Keyboard已经到货了，在经过一个星期的使用之后，让我们来看看这两款为iPad Pro定制的专属配件有着怎样的表现。
先来说说Apple Pencil，由于小编是个学生党，用Apple Pencil记笔记的感觉绝对不亚于纸与笔，我们发现，在iPad Pro的玻璃显示屏上，Apple Pencil使用起来会有滑的感觉，在贴上高透膜之后，这一情况得到了很好的改善。目前很多笔记应用也都支持了Apple Pencil，像Notability， Noteshelf等等都是小编强力推荐的。在画画方面，Apple pencil的表现出乎意料的好，以前小编有一款Paper 53出品的胡桃木绘画笔，同样在Paper软件中，Apple Pencil的准确度远胜Paper Pencil，唯一的缺憾，可能就是Apple Pencil并不自带擦除功能，需要在界面中点击橡皮擦，然后进行涂抹。电量方面，苹果宣称仅仅五分钟的充电就能为我们带来30分钟的使用时间，经过测试也确实如此，电量可以在iPad Pro的下拉状态栏中进行实时的查看，但是Apple Pencil的待机耗电也较快，对与强迫症的用户来说，每天看到状态栏里不断快速减少的电量，确实也很是头疼。

我们再来说说Smart Keyboard，169美元的价格对于一个键盘来说确实是不小的树木，究竟他值不值这么多钱呢，我们慢慢来说，首先，在工业设计上面，能把一个实体全尺寸键盘做的如此轻薄确实不易，iPad Pro 通过smart connector与Smart Keyboard进行连接，并且通过这个借口为键盘供电，键盘采用anti-splash的材质，不用担心水洒在上面了。键盘触感极佳，通过与Touch Cover的整合，在不适用的时候可以很好的收藏起来，同时，在观看电影的时候为你提供支撑，可惜的是，在打字时，键盘只支持一种角度的支撑。它的缺点也不少，首先，不支持背光，这让光线不好时的打字体验变得很糟糕，其次，功能键的缺乏，我无法用我的键盘来调节屏幕的亮度以及音量，这一点logitech的那款键盘就做的很好，第三，键盘敲击发出的声音略大。

总的来说，这两款配件都是iPad Pro必不可少的，推荐给大家。</string>
	</dict>
	<dict>
		<key>topImage</key>
		<string>pic1</string>
		<key>title</key>
		<string>2016年的Apple，我们可以期待些什么（下）</string>
		<key>body</key>
		<string>Macbook Air（2016年初到年中）
2015年4月视网膜New Macbook的发布使得Macbook Air的的前景十分的不明朗，有传言Macbook Air会退出市场，也有传闻说会得以保留，Macbook Air的性价比使得他市场反响很好。如果Macbook Air得到更新的话，首先外型上应该会得到更新，因为自从2010乔帮主第一次介绍Macbook Air以来，这个设计一直没有变过。鉴于iPhone和iPad现在越来越大的尺寸，Apple很可能还会推出15英寸版本，处理器方面肯定是今年Intel新款的Skylake芯片，它可以带来10%更快的处理器速度，34%图形处理的提升和1.4小时的额外的续航。产品线的消息很多时候是不准确的，这些更新信息也有可能是属于Retina Macbook Pro的。（小编注：有了New Macbook后就处于很尴尬的地位，说便宜不便宜，说性能比不上Retina Macbook Pro，说轻薄又比不上新产品，但是谁又能说他不会有很好的市场呢？老款带光驱的Pro不还一直在卖么）

Retina MacBook Pro (2016年初到年中)
在过去两年中，Intel芯片的产量问题严重影响到了Apple旗舰笔记本的发布计划，尤其是15寸产品。13寸版本在2015年三月得到了Broadwell的更新，而五月更新的15寸版本还在使用Haswell处理器，Intel为Macbook Pro适配的Broadwell处理六月才更新，如果2016年初15寸更新的话就能用上Broadwell，但是，目前来看最有可能的情况是，Apple跳过Broadwell处理器，13寸和15寸同时更新Skylake处理器。13寸用的Intel 28瓦特U系列芯片和15寸用 45瓦特 H系列芯片都会在2016年初出货，时间点与新款Retina Macbook Pro的发布时间相符。最后，我们也很可能会看到全新设计的一体机身。（小编注：2016年最期待的一款产品，说实话RMBP的设计也已经四年，有点过时了，前有微软Surface后有Dell的超薄边框XPS，期待这次的全新设计）

Retina Macbook（2016年初到年中）
适配第二代Retinal Macbook的 Intel Skylake Core M处理器已经准备就绪，相比于第一代Broadwell Core M，这次更新会有10小时的续航和10%到20%的CPU的提升。机身外形应该会保持不变，也有传闻会加入玫瑰金配色。

iMac（或2016年末）
iMac产品线也受到了Intel芯片出货的严重影响，现阶段高端版本已经用上了Skylake处理器而低端版本还在使用Broadwell，由于Intel不打算开发桌面级别集成Iris或Iris Pro图形处理的Skylake处理器，所以低端版本的iMac更新情况还很难推测。</string>
	</dict>
	<dict>
		<key>topImage</key>
		<string>pic2</string>
		<key>title</key>
		<string>What&apos;s New in iOS 9: New SDK Frameworks</string>
		<key>body</key>
		<string>At WWDC 2015, Apple introduced iOS 9. Although the new SDK does not introduce as many new or enhanced features as iOS 8, which included more than 4,000 new APIs, it does still provide a wealth of new functionality and enhancements. Along with the new SDK, iOS 9 is also marked by new developer tools to support some of its features, and new releases of Apple’s major programming languages, Swift and Objective-C.

This series aims at introducing all that is essential for developers to know about building apps for the latest release of Apple’s mobile OS. It comprises five articles that will cover what’s new in iOS 9 SDK, new features in Swift, Objective-C, and developer tools, and Apple’s new bitcode.

This InfoQ article is part of the series “IOS 9 For Developers ”. You can subscribe to receive notifications via RSS.

 

At WWDC 2015, Apple introduced iOS 9. Although the new SDK does not introduce as many new or enhanced features as iOS 8, which included more than 4,000 new APIs, it does still provide a wealth of new functionality and enhancements. In this article, the first in a series focusing on iOS 9, we are going to review a number of new frameworks that Apple has included with its new mobile OS. This review is based on the documentation that Apple made available and on video sessions from WWDC 2015.</string>
	</dict>
	<dict>
		<key>topImage</key>
		<string>pic3</string>
		<key>title</key>
		<string>气势磅礴，IPad Pro 测评</string>
		<key>body</key>
		<string>在今年的十一月十一号，苹果发布了全新的产品线iPad Pro，选择在这样一个中国人民所熟知的光棍节发布这样一个产品，苹果是想让我们抱着它这个信心十足的产品孤独一生么，又或者，苹果的意思是，这个光棍节，有了iPad Pro，女朋友什么的都是浮云。当然，扯远了，iPad Pro的发布时间与光棍节并没有什么关系，小编呢，也在第一时间入手了iPad Pro，下面就让我们来看看，这个有史以来最大的iPad，能给我们带来怎样的惊喜。

首先我们来看一下它的配置，iPad Pro有着12.9英尺的视网膜多点触控显示屏，2732乘2048像素，264ppi与iPad Air 2的像素密度是一样的。处理器方面使用的是Apple最新一代为iPad适配的A9X 64位处理器，协处理器方面用到的是和iPhone 6s一样最新的M9处理器。拍照方面后置摄像头是800万前置120万与iPad Air持平。数据传输方面，蓝牙4.2，WiFi方面是最高支持到802.11ac，Multiple in Multiple out技术，Cellular版本支持LTE。传感器方面值得一提的是Touch ID仍然使用的是第一代技术，而不是iPhone 6s的第二代，这里我们知道第二代Touch ID在iPhone 6s上的体验是很好的，几乎秒开，iPad Pro没有采用的原因可能是如此大的设备不像手机，需要拿出来立刻就解锁看到信息，所以保持了第一代。外观方面iPad Pro沿用了Air的设计，即使有着将近13寸的屏幕，重量与厚度仍然能够与第一代iPad持平，与iPad Air不同的是，iPad Pro有着四个立体声扬声器，以及一个连接键盘用的smart connector接口，可以通过iPad对无线键盘进行供电。

发售时，三种颜色加三种配置，低配32G是799美元，高配128G是949美元，数据通信版本只有128G，售价1079美元，这个价格在市场上并没有什么优势，这个价格也是不包括专为iPad Pro设计的触控笔和键盘，这个两件产品上市初期货源并不充足，小编这次只购入了128G WiFi版本深空灰色本体，能配齐三家套之后，小编会回来补充的。如果你很爱看电影的话，128G高配版本应该是你的选择，iTunes Store一个HD版本的电影在5G左右，所以，要是多存几部的话，建议选择高配。

先说说他的优点。
从小编的初步上手情况来看，拿在手上，真的很轻，虽然比不过iPad Air 2，但对于这样一个屏幕来说，真的不能要求更多。四扬声器的设计真的是很棒，巨大的屏幕和立体声效果让你能够足不出户就能体验到电影院的感觉，对比iPad Air干瘪的音效，胜之千里，全新的键盘设计，让打字更加的有效率。

缺点也不是没有，首先从系统发面仍然沿用的是iOS系统，让苹果融合iOS和OS X短时间内看来是不太可能的，但不为iPad单独开发一套基于iOS的系统，却是无法让人理解的，在现在的系统看来，图标很小，图标间隔很大，系统设置方面留白过多，让人第一眼看来，不是很美观。电量方面中规中矩，感觉上多出的电池并没有让使用时间增加，可能是这块屏幕的损耗以及刷新频率的原因拖了电池的后腿，另外，充电速度也很慢，这个原因是，一台近乎于笔记本配置的平板却仍然在使用12W的充电器，电压小就会导致充电速度变慢，但是，苹果也不是没有考虑到，这里就会有另一个更严重的问题，充电发热的问题；对于一个没有风扇系统的平板来说是很重要的，所以，考虑到电子元器件的寿命问题，苹果选择了继续使用12W充电器，对于消费者来说，其实这是一个没有告诉过我们的良心之举。最后一个问题，就是App适配问题，不过相信随着时间的推移，支持iPad Pro分辨率的软件会越来越多。

小编的iPad Pro测评，暂时先到这里。等到Apple Pencil和Smart Keyboard到货后，小编会将第一手的体验文更新在这里的，不要错过哦。</string>
	</dict>
	<dict>
		<key>topImage</key>
		<string>pic4</string>
		<key>title</key>
		<string>2016年的Apple，我们可以期待些什么（上）</string>
		<key>body</key>
		<string>2015年，对苹果来说是个相当重要的一年，相继发布了全新产品线Apple Watch，配备3D Touch和全新配色的iPhone 6s， 6s Plus, 新一代Apple TV, 和有史以来最大的iOS设备iPad Pro。在系统方面，Apple发布了继续专注于稳定性与兼容性iOS 9，watchOS 2和OS X 10.11 El Capitan还有为新一代Apple TV设计的全新系统tvOS。
2015年我看到了很多不错的设备以及系统，相信2016年我还能看到更多令人激动的产品的。

以下是MacRumors网站预测的一些2016年我们可能看到的产品以及系统。

Apple Watch 2 (2016年初)
传言第二代的Apple Watch将会于2016年3月亮相，4月出货，这距离第一代手表的发布差不多正好一年。早期的传闻是Apple Watch 2会配备一些本来该出现在1代上但因为种种原因没有的传感器，包括皮肤传导传感器，血氧水平，血压监测等。第二代手表也会比第一代更加轻薄，还会配备一个Facetime摄像头以及升级版本的WiFi芯片来让Watch在没有iPhone的情况下更好的工作。（小编注：watchOS 2首次让手表可以独立于iPhone连接网络）
现阶段我们并不清楚Apple是否会延续使用第一代的表带，但是考虑到目前市场上第一代表带数量会多，想要更新二代的一代用户很可能不需要再购买新表带。硬件方面除了更轻薄外，并没有太多的传闻。

iPhone 7 和iPhone 7 Plus (2016年9月左右)
像往年一样，新款手机的发布时间会是雷打不动的第三季度，虽然Apple会延续4.7英寸和5.5英寸两款大小，但按照iPhone两年设计一更新的频率，我们应该能看到全新设计的iPhone 7以及7 Plus。像往年一年，硬件方面会是例行的处理器升级和更轻薄的机身。鉴于Apple在2015收购了以色列相机公司LinX，摄像头方面可能会有重大提升。屏幕方面继续使用in-cell，薄厚程度应该像iPod Touch靠拢，Apple可能还会使用TFT-LCD显示屏因为有传言苹果正在AMOLED技术上做研究。分析师郭池明预测在RAM方面两款旗舰手机可能会不同，iPhone 7配备2G RAM而7 Plus配备3G RAM。近期有一个比较可靠的传闻是苹果可能会为了做到更加的轻薄去掉3.5mm耳机接口，换而使用Lightning接口或蓝牙连接耳机。（小编注：去掉一切不必要的接口是Apple一贯的做法，如光驱，以太网口以及在NMB上用USB type-C代替所有其它接口）

iPhone 6c (2016年初)
自从大尺寸iPhone发布之后，4英寸iPhone的传言就一直没有断过，传闻称这款4英寸设备会在三月发布，如果消息成真的话，这将是2011年以来第一部没在秋季发布的iPhone产品。硬件方面介于5s和6之间，铝合金机身，多种颜色，1642mAh的电池比5s要大一些，800万像素f2.2光圈的后置摄像头，120万前置摄像头，蓝牙4.1，802.11ac的WiFi，NFC等，目前业界对于处理器的争议还是很大的，主要集中在A8还是A9，到时候让我们拭目以待。（小编注：会有人还想用回4英寸的手机么？）

iPad Air 3（2016年初到年中）
自从2010年第一代iPad问世以来，Apple每年秋季更新一次，直到2015年，Apple并没有发布iPad Air 2的继任机，而是推出了全新产品线iPad Pro以及微小升级的iPad mini 4，iPad Air的更新周期很可能被推迟到了18个月甚至2年。关于iPad Air 3的传闻我们知道的很少，可以预见的有处理器摄像头等的升级。（小编注：会不会更换屏幕技术支持Apple Pencil呀）</string>
	</dict>
</array>
</plist>
